@page
@model IndexModel
@{
    ViewData["Title"] = "Cloud Tech Masters";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is our channel to check real-time scenarios</p>
</div>
