@page
@model IndexModel
@{
    ViewData["Title"] = "Cloud Tech Masters";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Cloudtechmasters</h1>
    <p>Check youtube for checking youtube channel for checking Realtime videos </p>
    <p>   https://www.youtube.com/channel/UCWkGD7o0wEB_E2qmgVCUuFw/videos   </p>
</div>
